
nav{
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
box-sizing:border-box;
width: 100%;
}
.main-logo{
    border-style: solid;
    border-radius:350px ;
    border-color:white;
    border-width: 5px;
    background: linear-gradient(90deg, hsla(42, 93%, 57%, 1) 0%, hsla(358, 78%, 62%, 1) 100%);
    text-align: center;
}
.jdeliver{
    margin: 14px;
    font-weight:bolder;  
    color:white;
    cursor: pointer;
}

.nav-items>h5{
    margin-inline: 15px;
    color:black;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
}
.nav-items>h5:hover{
    color: white;
}
.searchbar>input{
    border-color: #666666;
    border:none;
    border-radius: 10px;
}
.searchbar{
    background-color: white;
    margin-bottom: 20px;
    width:17%;
    border-radius: 10px;
}
::placeholder{
    font-size: small;
    color:rgb(153,153,153);
    text-align:start;
}
.sign-btn{
    border-radius: 10px;
    border-width: 2px;
}
.deliveryman{
;
}
.my-text{
width: 40vw;
margin-left: 170px;
}
.my-container{
    display:flex;
    align-items: center;
    justify-content:space-between;
}
.my-container2{
   background-color: #fef4f4;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content:space-between;
}
.first-head{
    width: 50%;
    margin-left: 70px;
    height: ;
    font-size:30px;
    text-align:10px;
}
.first-para{
    margin-left: 60px;
    font-size: small;
}
.my-images{
    width: 50%;
    margin-right: 20px;
    margin-top: 20px;
}
.description1{
    font-size:large;
    margin-top: 20px;
    margin-left: 39px;
}
.description2{
    font-size:large;
    margin-top: 20px;
    margin-left: 39px;

}
.description3{
    font-size:large;
    margin-top: 20px;
    margin-left: 40px;
}
.card-section-header{
    margin-left: 430px;
    margin-top: 20px;
}
.category{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 100px;
    color: #313252;
    margin-left: 20px;
}
.category>h6{
    margin-left: 120px;
    margin-top: 30px;
    cursor: pointer;
}
.category>h6:hover{
    color: red;
}
.my-container4{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    width:100%;
    margin-bottom: 50px;
    white-space: nowrap;
    background-color: #fdecec;
    border-color: #eaeaea;
    border-width: 3px;
    border-style: solid;

    
}
.my-cards{
    padding: 20px;
    margin: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 20px;
}
.my-product{
    font-size: 23px;
    text-align: center;
    margin-top: 10px;
}
.my-price{
    font-size: 23px;
    text-align: center;
    margin-top: 10px;
}
.contentdiv{
    width: 100%;
    margin-left: 100px;
    white-space: nowrap;
    margin: 10px;
    width: 30vw;
    align-items: center;
    margin-bottom: 40px;
    border-style: solid;
    border-color:#eaeaea ;
    border-width: 2px;
   border-radius: 20px;
   display:inline-block;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.red-text{
    color: red;
}
.h{
    margin-left: 50px;
}
